**/downloaded_and_converted_ckpts_from_hf
**/lit_out
**/llamafactory_out
**/wandb
**/__pycache__
**/.ipynb_checkpoints
**/.pytest_cache
**/.vscode
**/.DS_Store
**/logs
**/tmp
**/tmp_trainer
**/figs
**/out
**/models
pretrain/lit-trainer/run_exp_fas_lit_trainer.py