# .gitignore for the evolm project

**/downloaded_and_converted_ckpts_from_hf
**/lit_out
**/llamafactory_out
**/wandb
**/__pycache__
**/.ipynb_checkpoints
**/.pytest_cache
**/.vscode
**/.DS_Store
**/logs
**/tmp
**/tmp_trainer
**/figs
**/out
**/models

pretrain/lit-trainer/run_exp_fas_lit_trainer.py
pretrain/lit-trainer/run_exp_fas_lit_trainer_old.py

finetune/llama-factory/data/metamathqa.json
finetune/llama-factory/run_exp_fas_llamafactory.py

evaluation/cot-eval-harness/eval_output
evaluation/cot-eval-harness/run_exp_fas_eval_cot.py