# .gitignore for the evolm project

**/downloaded_and_converted_ckpts_from_hf
**/lit_out
**/llamafactory_out
**/wandb
**/__pycache__
**/.ipynb_checkpoints
**/.pytest_cache
**/.vscode
**/.DS_Store
**/logs
**/tmp
**/tmp_trainer
**/figs
**/out
**/models

common/scripts/scratch

pretrain/models

finetune/llama-factory/data/metamathqa.json
finetune/llama-factory/data/hellaswag.json
finetune/llama-factory/data/medmcqa.json
finetune/llama-factory/data/medmcqa_answercolon.json
finetune/llama-factory/data/pubmedqa.json
finetune/llama-factory/data/mmluprocot.json
finetune/llama-factory/data/race.json
finetune/llama-factory/data/simplescaling.json
finetune/llama-factory/data/safety.json
finetune/llama-factory/data/piqa.json

evaluation/cot-eval-harness/eval_output
evaluation/cot-eval-harness/eval_output_dev

evaluation/lm-evaluation-harness/datasets
evaluation/lm-evaluation-harness/eval_output
